<!-- include header-->
<%- include('include/_header')%>
<!-- /include header-->


<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Add <b>User</b></h2>
                        <span>Use the below form to create a new account</span>
                    </div>
                    <div class="col-sm-7">
                        <a href="/" class="btn btn-secondary"><i class="fas fa-angle-double-left"></i> <span>All User</span></a>						
                    </div>
                </div>
            </div>

            <!-- add user form-->
            <%- include('include/_form')%>
            <!-- /add user form-->
        </div>
    </div>
</div>


<!-- include footer-->
<%- include('include/_footer')%>
<!-- /include footer-->